  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li>
        <a class="post-link" href="/">Home</a>
      </li>
    {% assign my_posts = site.posts | sort:"ordinal" %}
    {% for post in my_posts %}
      {% if post.title %}
      <li>
        <a class="post-link" href="#{{ post.link }}">{{ post.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
    </nav>

<div id="header">

  <!-- Inner -->
    <div id="inner" class="inner">
      <header>
        <H3><a href="https://goo.gl/forms/7WdBu4JDXQnekFVN2" style="color: white"> Feedback Form Link</a></H3>
        <br>
        <br><br>
        <h1><a href="#process" id="logo">Polaris Pastoral Search</a></h1>
        <hr />
        <p></p>
      </header>
      <footer>
        <a href="#process" class="button circled scrolly post-link">More</a>
      </footer>
    </div>

</div>
