  <!-- Nav -->
  <nav id="nav">
    <ul>
    {% for my_page in site.pages %}
      {% if my_page.title %}
      <li>
        <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
    </nav>

<div id="header">

  <!-- Inner -->
    <div id="inner" class="inner">
      <header>
        <h1><a href="index.html" id="logo">Meet Pastor Pete</a></h1>
        <hr />
        <p></p>
      </header>
      <footer>
        <a href="#banner" class="button circled scrolly">More</a>
      </footer>
    </div>

</div>
