#nav {
  position: fixed;
  background: #ef8376;
  font-weight: bold;
  color: #fff;

   /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    /*Opacity end*/
}

#nav.sticky {
}

#header.fade {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    /*Opacity end*/
    transition: all 2.0s ease;
}

#nav:hover {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    /*Opacity end*/
    transition: all 0.4s ease;
}

#nav a:hover {
    text-decoration: underline;
}

#logo {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.letter {
    font-style: italic;
    width: 75%;
    margin-left: 5em;
}


.even {
    background-color: #eee;
    margin-bottom: 30px;
}

.odd {
    margin-bottom: 30px;
}

div.content p {
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

div.faq h3 {
    font-size: 12pt;
    margin-left: .5em;
    margin-right: .5em;
}

div.content h3 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}

div.content h2 {
    text-align: center;
}

div.sermons  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
