#nav {
  position: fixed;
  background: #ef8376;
  font-weight: bold;
  color: #fff;

   /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    /*Opacity end*/
}

#nav.sticky {
}

#header.fade {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    /*Opacity end*/
    transition: all 2.0s ease;
}

#nav:hover {
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    /*Opacity end*/
    transition: all 0.4s ease;
}

#nav a:hover {
    text-decoration: underline;
}

#logo {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.letter {
    font-style: italic;
    width: 75%;
    margin-left: 5em;
}

div.about {
    padding-top: 2em;
}

.even {
    background-color: #eee;
    padding-bottom: 30px;
    padding-top: 30px;
}

.odd {
    background-color: #fff;
    padding-bottom: 30px;
    padding-top: 30px;
}

div.content p {
    margin-bottom: .5em;
    margin-left: .5em;
    margin-right: .5em;
}

.wrapper {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    margin: 0 !important;
}

div.faq h3 {
    font-size: 12pt;
    margin-left: .5em;
    margin-right: .5em;
}

div.content h3 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}

div.content h2 {
    text-align: center;
    color: #357fa7;
}

div.sermons  {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.family-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.videoSizer {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5em;
    padding-top: .5em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.verse {
    text-align: center;
    /* font-weight: bold; */
    font-weight: 400;
    font-size: 1.25em;
}

p.verse strong {
    text-transform: uppercase;
    color: #D77A27;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
}
